# Prettier ignore
node_modules/
.next/
out/
build/
dist/
coverage/
*.min.js
*.min.css
package-lock.json
pnpm-lock.yaml
yarn.lock

# Assets
public/assets/

# Animations (JSON files are large)
src/animations/

# Legacy
Documentation/assets/js